/*! normalize.css v2.1.3 | MIT License | git.io/normalize */article,aside,details,figcaption,figure,footer,header,hgroup,main,nav,section,summary{display:block}audio,canvas,video{display:inline-block}audio:not([controls]){display:none;height:0}[hidden],template{display:none}html{font-family:sans-serif;-ms-text-size-adjust:100%;-webkit-text-size-adjust:100%}body{margin:0}a{background:transparent}a:focus{outline:thin dotted}a:active,a:hover{outline:0}h1{font-size:2em;margin:.67em 0}abbr[title]{border-bottom:1px dotted}b,strong{font-weight:bold}dfn{font-style:italic}hr{-moz-box-sizing:content-box;box-sizing:content-box;height:0}mark{background:#ff0;color:#000}code,kbd,pre,samp{font-family:monospace,serif;font-size:1em}pre{white-space:pre-wrap}q{quotes:"\201C" "\201D" "\2018" "\2019"}small{font-size:80%}sub,sup{font-size:75%;line-height:0;position:relative;vertical-align:baseline}sup{top:-0.5em}sub{bottom:-0.25em}img{border:0}svg:not(:root){overflow:hidden}figure{margin:0}fieldset{border:1px solid silver;margin:0 2px;padding:.35em .625em .75em}legend{border:0;padding:0}button,input,select,textarea{font-family:inherit;font-size:100%;margin:0}button,input{line-height:normal}button,select{text-transform:none}button,html input[type="button"],input[type="reset"],input[type="submit"]{-webkit-appearance:button;cursor:pointer}button[disabled],html input[disabled]{cursor:default}input[type="checkbox"],input[type="radio"]{box-sizing:border-box;padding:0}input[type="search"]{-webkit-appearance:textfield;-moz-box-sizing:content-box;-webkit-box-sizing:content-box;box-sizing:content-box}input[type="search"]::-webkit-search-cancel-button,input[type="search"]::-webkit-search-decoration{-webkit-appearance:none}button::-moz-focus-inner,input::-moz-focus-inner{border:0;padding:0}textarea{overflow:auto;vertical-align:top}table{border-collapse:collapse;border-spacing:0}

/*===========================================================
  Basic Resets
===========================================================*/

* {
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}

/*===========================================================
  General Settings
===========================================================*/

body {
	background:rgb(245,245,245);

	color: rgb(60,60,60);
	font-family: 'Open Sans', sans-serif;
	font-size: 112.5%;
	font-weight: 300;
	line-height: 1.55em;
}

img {
	display: block;
	max-width: 100%;
	height: auto;
}

a {
	color: #ff6138;
	text-decoration: none;
}

a:hover {
	border-bottom: 1px solid #ff6138;
}

a[href*="#"] {
	color: rgb(60,60,60);
}

.spacer-line {
	margin: 1em 0;
	border: none;
	border-top: 1px solid rgba(0,0,0,0.2);
}

/*===========================================================
  Container
===========================================================*/

main {
	width: 1000px;
	margin: 0 auto;
	padding: 3em;
	background:rgb(238,238,238);
}

main > h1 {
	letter-spacing: -0.02em;
}

main > h2 {
	color: #ff6138;
	font-weight: 400;
	font-style: italic;
	letter-spacing: -0.02em;
}

.img-preview {
	width: 590px;
	height: 300px;
	margin: 2em auto;
}

.navigation {
	margin: 0 0 0 3em;
	padding: 0;
}

.navigation li {
	font-weight: bold;
}

.navigation li:before {

}

.navigation ol {
	margin: 0;
	padding: 0;
}

.navigation ol li {
	list-style-type: none;
	font-weight: normal;
}

.content {

}

.content h1 {
	margin: 1.5em 0 1em 0;

	font-size: 1.65em;
	letter-spacing: -0.02em;
}

.content h2 {
	margin: 1.35em 0 0 0;

	font-size: 1.35em;
	letter-spacing: -0.02em;
}

.code {
	margin: 0;
	padding: 1em 1.5em;
	background: rgb(225,225,225);
	overflow-x: auto;

	font-size: 0.9em;
	line-height: 1.4em;
}

#iframe-icons {
	width: 100%;
	height: 20em;
	border: 1px solid rgba(0,0,0,0.2);
}

footer {
	margin: 3em 0;

	font-weight: 400;
	font-style: italic;
}

/*===========================================================
  Notification
===========================================================*/

.notification {
	padding: 1em 1.5em;
	background: #d5ffc4;
	border: 1px solid #a6e37b;
}

/*===========================================================
  Media Queries
===========================================================*/

@media all and (max-width: 1000px) {

	main {
		width: 100%;
	}

}