/*===========================================================
  CSS Configuration File
===========================================================*/

/**
 * Background image for the portrait container
*/

.portrait {
	background: url(../images/wood.jpg) left center;
}

/**
 * Highlight color settings for the page headers
 *
 * Either set the highlight color for all page headers via the .page-heading 
 * class or define the page header background color for each page separatly.
*/

.page-heading {
	background: rgb(110,204,68);
}

/* ----------- */

.page__about .page-heading {
	background: ;
}

.page__portfolio .page-heading {
	background: ;
}

.page__blog .page-heading {
	background: ;
}

.page__contact .page-heading {
	background: ;
}

/**
 * Highlight color settings for page elements
 *
 * Set the highlight color for the color, background, border and box shadow properties
*/

a,
.portrait__social-media a:hover,
.portfolio__grid__item__desc__link:hover span[class^="icon-"],
.portfolio__detail__desc__more-link:hover span[class*="icon"],
.blog__frontpage__more-link:hover span[class*="icon"] {
	color: rgb(110,204,68);
}

.skill-list-1__bar,
.skill-list-2__bar,
.portfolio__grid__item__mask:before,
.form__submit,
.emedu-list-1 li:before,
.emedu-list-2__station:before {
	background: rgb(110,204,68);
}

.navigation li:hover {
	box-shadow: inset 0.25em 0 0 rgb(110,204,68);
}

.testimonial:before {
	background: rgba(110,204,68,0.75);
}

.quote {
	border-right: 0.25em solid rgb(110,204,68);
}

.emedu-list-1__date {
	background: rgba(110,204,68,0.9);
}

.contact__address,
.contact__web {
	box-shadow: inset 0.25em 0 0 rgba(110,204,68,0.75); 
}



